* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Helvetica, Arial, sans-serif
  ;
}

.navbar {
  top: 0;
  left: 0;
  background-color: #272522;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr 50px;
  transition: width 0.1s ease-in-out;
}

.navbar-logo a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logo-img{
  width: 100%;
}

.navbar-toggle {
  cursor: pointer;
  style: none;
  color: inherit;
	border: none;
}

.navbar-buttons {
  display: flex;
  flex-direction: column;
}

.navbar-buttons button {
  display: flex;
  background-color: #272522;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  jusify-content: center;
}

.navbar-buttons button:hover {
  background-color: #1e1d1a;
}

.button-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.navbar-buttons .signup-button {
  background-color: #383633;
  color: white;
}

.link {
  text-decoration: none;
}

.navbar-buttons .signup-button:hover {
  background-color: #1e1d1a;
}

.navbar-buttons .login-button {
  background-color: #7fa650;
  box-shadow: 0 0 0 1px #7fa650;
  color: white;
}

.navbar-buttons .login-button:hover {
  background-color: #9ed071;
}

.button-text{
  margin-top: 8%;
}

