* {
  font-family: Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("signup-background.png");
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

form h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

form input, form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.signup-button {
  background-color: #7f9264;
  color: white;
}

.signup-button:hover {
  background-color: #667550
}

form button:hover {
  background-color: #eef;
  border: 1px solid #aaf;
  cursor: pointer;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

