body {
  height: 100vh;
  width: 100vw;
  background: url("signup-background.png");
  background-color: #312e2b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

fieldset {
    display: inline;
    margin-bottom: 20px;
    border-style: none;
}

::placeholder {
	color: #6d6b6a;
	font-size: 16px;
}

.login-input, .password-input {
    display: flex;
}


.login-input-icon, .password-input-icon {
    background-color: #3c3a38;
    height: 33px;
    width: 44px;
    text-align: center;
    border: 1px solid #4d4b49;
    border-right: none;
    padding-top: 9px;
}

.login-input-icon i, .password-input-icon i {
    font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272522;
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: auto;
  margin-top: 100px;
}

form h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

form input, form button {
  border: 1px solid #4d4b49;
  border-left: none;
  font-size: 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

input, textarea {
  background-color : #3c3a38;
}

input:focus, textarea:focus {
  outline: none;
}

form button {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.signup-button {
  background-color: #7f9264;
  color: white;
}

.signup-button:hover {
  background-color: #667550
}

form button:hover {
  background-color: #eef;
  border: 1px solid #aaf;
  cursor: pointer;
}

form ul {
  list-style: none;
  color : #9e9d9c;
  padding: 0;
  margin: 0;
}

