.home {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.logo-img{
  width: 100%;
  height: 100%;
}

.navbar-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbar-buttons button {
  background-color: #272522;
  color: #d6d6d6;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.navbar-buttons button:hover {
  background-color: #1e1d1a;
}

.play-button-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}


.navbar-buttons .signup-button {
  background-color: #383633;
  color: white;
}

.login-link, .signup-link {
    width: 80%;
    margin-left: 10%;
}

.navbar-buttons .login-button {
  background-color: #7fa650;
  color: white;
}

.navbar-buttons .login-button:hover {
  background-color: #9ed071;
}

.landing-main-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 2% 10%;
  width: 90%;
  background-color: #312e2b;
}

.online-game-block {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.board-img{
   border-radius: 1%;
}

.online-game-block-info {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.online-game-block-info-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.online-game-block-info-buttons {
  display: flex;
  flex-direction: column;
}

.online-game-block-info-online-icon, .online-game-block-info-bots-icon {
    font-size: 50px;
}

.online-game-block-info-buttons-play-online, .online-game-block-info-buttons-play-bots {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
  border: none;
  border-radius: 4px;
  color : white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
 }

 .online-game-block-info-buttons-play-online:hover, .online-game-block-info-buttons-play-bots:hover {
  cursor: pointer;
  }

.online-game-block-info-buttons-play-online{
   background-color: #b58863
}
.online-game-block-info-buttons-play-online:hover, .online-game-block-info-buttons-play-online:hover > * {
   background-color: #d4a684
}

.online-game-block-info-buttons-play-bots{
   background-color: #413e3c;
}

.online-game-block-info-buttons-play-bots:hover, .online-game-block-info-buttons-play-bots:hover > * {
   background-color: #716b68
}

.online-game-block-info-buttons-play-online:hover {
   animation: glowing-online-button 1.5s ease-in-out infinite;
}

.online-game-block-info-buttons-play-bots:hover {
   animation: glowing-bots-button 1.5s ease-in-out infinite;
}

.online-game-block-info-buttons-play-online-text-title, .online-game-block-info-buttons-play-bots-text-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.online-game-block-info-buttons-play-online-text-subtitle, .online-game-block-info-buttons-play-bots-text-subtitle {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

.online-play-button-img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}


@keyframes glowing-online-button {
  0% {
    box-shadow: 0 0 10px 0 rgba(181, 136, 99, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(181, 136, 99, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(181, 136, 99, 0.7);
  }
}

@keyframes glowing-bots-button {
  0% {
	box-shadow: 0 0 10px 0 rgba(65, 62, 60, 0.7);
  }
  50% {
	box-shadow: 0 0 20px 10px rgba(65, 62, 60, 0.7);
  }
  100% {
	box-shadow: 0 0 10px 0 rgba(65, 62, 60, 0.7);
  }
}

